.formulaire {
    padding: 2.5% 5%;
    margin: 1% 2.5%;
    border-radius: 15px;
    background-color: rgb(18, 18, 37);
    color: aliceblue;
    border: 1px solid black;
}

.formulaire input {
    margin: 1% 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.formulaire h1 {
    font-size: 3.5em;
}

form {
    color: red;
    margin-left: 35%;
    margin-top: -2.5%;

}

form label {
    font-weight: bold;
    color: white;
}

#btn {
    margin-left: 20%;
    padding: 10px 50px;
    border-radius: 12.5px;
    cursor: pointer;
}

#btn:hover {
    font-weight: bold;
}

.result {
    padding: 2.5% 5%;
    margin: 2.5% 5%;
    border-radius: 15px;
    background-color: aliceblue;
    width: 75%;
}

.footer {
    height: 10vh;
    position: absolute;
    bottom: 0;
    width: 99%;
}

a{
    text-decoration: none;
    color: black;
}

.footer button {
    background-color: white;
    font-size: 1rem;
    font-weight: bold;
    display: inline-block;
    margin: 1% 0 0 27.5%;
    border: none;
}

.footer button:first-child a {
    padding: 20% 35%;
}

.footer button a {
    border: 1px solid black;
    padding: 25% 60%;
    border-radius: 25px;
}

.footer button a:hover {
    color: white;
    background-color: black;
}